<% if @physical_features.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= PhysicalFeature.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @physical_features.each do |physical_feature| %>
        <tr>
          <td><%= physical_feature.name %></td>
          <td><%= link_to_show physical_feature %></td>
          <td><%= link_to_edit edit_physical_feature_path(physical_feature) if can? :update, physical_feature %></td>
          <td><%= link_to_destroy physical_feature if can? :destroy, physical_feature %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @physical_features %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.physical_features.new', default: :'label.new'),
    new_physical_feature_path, class: 'btn btn-primary'
  ) if can? :create, PhysicalFeature %>
</div>
