<h2><%= @quadrant %></h2>

<p>
  <strong><%= Quadrant.human_attribute_name 'name' %></strong>:
  <%= @quadrant.name %>
</p>

<div class="form-actions well well-sm">
  <%= link_to t('label.edit'), edit_quadrant_path(@quadrant) if can? :update, @quadrant %> |
  <%= link_to t('label.list'), quadrants_path %>
</div>
