<% if @address_link_kinds.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= AddressLinkKind.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @address_link_kinds.each do |address_link_kind| %>
        <tr>
          <td><%= address_link_kind.name %></td>
          <td><%= link_to_show address_link_kind %></td>
          <td><%= link_to_edit edit_address_link_kind_path(address_link_kind) if can? :update, address_link_kind %></td>
          <td><%= link_to_destroy address_link_kind if can? :destroy, address_link_kind %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @address_link_kinds %>
<% end %>

<div class="form-actions">
  <%= link_to(
    t('view.address_link_kinds.new', default: :'label.new'),
    new_address_link_kind_path, class: 'btn btn-primary'
  ) if can? :create, AddressLinkKind %>
</div>
