<h2><%= @address_link_kind %></h2>

<p>
  <strong><%= AddressLinkKind.human_attribute_name 'name' %></strong>:
  <%= @address_link_kind.name %>
</p>

<div class="form-actions well well-sm">
  <%= link_to t('label.edit'), edit_address_link_kind_path(@address_link_kind) if can? :update, @address_link_kind %> |
  <%= link_to t('label.list'), address_link_kinds_path %>
</div>
