<%= simple_form_for(@person) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :birthday, as: :date_picker %>
        <%= f.input :father %>
        <%= f.input :mother %>
        <%= f.input :notes %>
        <%= person_sex_input(f) %>
        <%= f.input :alias %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
