<%= simple_form_for(@person) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :birthday, as: :date_picker %>
        <%= f.input :father %>
        <%= f.input :mother %>
        <%= f.input :notes %>
        <%= person_sex_input(f) %>
        <%= f.input :alias %>
      </div>
      <div class="col-md-8">
        <%= render 'identification', f: f %>
        <hr />

        <table>
          <thead>
            <tr>
              <th class="col-xs-3">Calle</th>
              <th class="col-xs-3">Numero</th>
              <th class="col-xs-3">Zona</th>
            </tr>
          </thead>
          <tbody>
            <%= f.simple_fields_for :person_addresses do |a_f| %>
              <%= render partial: 'person_address', locals: { a_f: a_f } %>
            <% end %>
          </tbody>
        </table>

        <table>
          <tbody>
          <tr>
            <td colspan="3">
              <%= link_to_add_fields '+', f, :person_addresses, nil, id: f.object_id %>
            </td>
          </tr>
          </tbody>
        </table>

        <hr />
        <h3>Phones</h3>
        <div>
          <div class="row">
            <div class="col-md-3">
              Number
            </div>
            <div class="col-md-3">
              Detail
            </div>
          </div>
          <%= f.simple_fields_for :phones do |p_f| %>
            <%= render 'phone', p_f: p_f %>
          <% end %>

          <%= link_to_add_fields '+', f, :phones, nil, id: f.object_id %>
        </div>
        <h3>Action Zones</h3>
        <div>
          <%= f.simple_fields_for :action_zone_person_relations do |az| %>
            <%= render 'action_zone_person_relation', az: az %>
          <% end %>

          <%= link_to_add_fields '+', f, :action_zone_person_relations, nil, id: f.object_id %>
        </div>

        <h3>Conceptualizacion</h3>
        <div>
          <%= f.simple_fields_for :conceptualization_person_relations do |c| %>
            <%= render 'conceptualization_person_relation', c: c %>
          <% end %>

          <%= link_to_add_fields '+', f, :conceptualization_person_relations, nil, id: f.object_id %>
        </div>

        <h3>adjuntos</h3>
        <div>
          <%= f.simple_fields_for :attaches do |a| %>
            <%= render 'attach', a: a %>
          <% end %>

          <%= link_to_add_fields '+', f, :attaches %>
        </div>
        <h3>Lider</h3>

        <div>
          <%= f.simple_fields_for :leaders do |leader| %>
            <%= render 'leader', leader: leader %>
          <% end %>

          <%= link_to_add_fields '+', f, :leaders %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
