<%= simple_form_for(@investigation) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= investigation_status_select(f)%>
        <%= investigation_category_select(f)%>
        <%= f.input :start_date, as: :date_picker %>
        <%= f.input :end_date, as: :date_picker %>
        <%= f.input :title %>
        <%= f.input :detail %>
      </div>
      <div class="col-md-6">
        <h3>Gente</h3>
        <%= link_to_add_autocomplete_fields f, :auto_name, :autocomplete_person_ids, url: autocomplete_people_path(format: :json) %>
        <hr />
        <h3>Direcciones
        <%= link_to_add_autocomplete_fields f, :auto_name, :autocomplete_address_ids, url: autocomplete_people_path(format: :json) %>
    </h3>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
