<%= simple_form_for(@investigation) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= investigation_status_select(f)%>
        <%= investigation_category_select(f)%>
        <%= f.input :start_date, as: :date_picker %>
        <%= f.input :end_date, as: :date_picker %>
        <%= f.input :title %>
        <%= f.input :detail %>


      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
