<% if @investigations.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Investigation.human_attribute_name 'status_id' %></th>
        <th><%= Investigation.human_attribute_name 'category_id' %></th>
        <th><%= Investigation.human_attribute_name 'start_date' %></th>
        <th><%= Investigation.human_attribute_name 'end_date' %></th>
        <th><%= Investigation.human_attribute_name 'title' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @investigations.each do |investigation| %>
        <tr>
          <td><%= investigation.status %></td>
          <td><%= investigation.category %></td>
          <td><%= l(investigation.start_date) if investigation.start_date %></td>
          <td><%= l(investigation.end_date) if investigation.end_date %></td>
          <td><%= investigation.title %></td>
          <td><%= link_to_show investigation %></td>
          <td><%= link_to_edit edit_investigation_path(investigation) if can? :update, investigation %></td>
          <td><%= link_to_destroy investigation if can? :destroy, investigation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @investigations %>
<% end %>

<div class="form-actions">
  <div class="pull-right">
    <%= link_to t('view.investigations.category'),
      investigation_categories_path, class: 'btn btn-default' %> |
    <%= link_to t('view.investigations.status'),
      investigation_statuses_path, class: 'btn btn-default'%>
  </div>
  <%= link_to(
    t('view.investigations.new', default: :'label.new'),
    new_investigation_path, class: 'btn btn-primary'
  ) if can? :create, Investigation %>
</div>
