<h2><%= @attach_type %></h2>

<p>
  <strong><%= AttachType.human_attribute_name 'name' %></strong>:
  <%= @attach_type.name %>
</p>

<div class="form-actions well well-sm">
  <%= link_to t('label.edit'), edit_attach_type_path(@attach_type) if can? :update, @attach_type %> |
  <%= link_to t('label.list'), attach_types_path %>
</div>
