<% if @identification_types.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= IdentificationType.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @identification_types.each do |identification_type| %>
        <tr>
          <td><%= identification_type.name %></td>
          <td><%= link_to_show identification_type %></td>
          <td><%= link_to_edit edit_identification_type_path(identification_type) if can? :update, identification_type %></td>
          <td><%= link_to_destroy identification_type if can? :destroy, identification_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @identification_types %>
<% end %>

<div class="form-actions well well-sm">
  <%= link_to(
    t('view.identification_types.new', default: :'label.new'),
    new_identification_type_path, class: 'btn btn-primary'
  ) if can? :create, IdentificationType %>
</div>
