<% if @person_quadrant_link_kinds.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= PersonQuadrantLinkKind.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @person_quadrant_link_kinds.each do |person_quadrant_link_kind| %>
        <tr>
          <td><%= person_quadrant_link_kind.name %></td>
          <td><%= link_to_show person_quadrant_link_kind %></td>
          <td><%= link_to_edit edit_person_quadrant_link_kind_path(person_quadrant_link_kind) if can? :update, person_quadrant_link_kind %></td>
          <td><%= link_to_destroy person_quadrant_link_kind if can? :destroy, person_quadrant_link_kind %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @person_quadrant_link_kinds %>
<% end %>

<div class="form-actions well well-sm">
  <%= link_to(
    t('view.person_quadrant_link_kinds.new', default: :'label.new'),
    new_person_quadrant_link_kind_path, class: 'btn btn-primary'
  ) if can? :create, PersonQuadrantLinkKind %>
</div>
