<%= simple_form_for(@person_address) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :person_id %>
        <%= f.input :address_id %>
        <%= f.input :country_id %>
        <%= f.input :province_id %>
        <%= f.input :city_id %>
        <%= f.input :zone_id %>
        <%= f.input :street_name %>
        <%= f.input :street_number %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
