<% if @investigation_categories.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= InvestigationCategory.human_attribute_name 'name' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @investigation_categories.each do |investigation_category| %>
        <tr>
          <td><%= investigation_category.name %></td>
          <td><%= link_to_show investigation_category %></td>
          <td><%= link_to_edit edit_investigation_category_path(investigation_category) if can? :update, investigation_category %></td>
          <td><%= link_to_destroy investigation_category if can? :destroy, investigation_category %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @investigation_categories %>
<% end %>

<div class="form-actions well well-sm">
  <%= link_to(
    t('view.investigation_categories.new', default: :'label.new'),
    new_investigation_category_path, class: 'btn btn-primary'
  ) if can? :create, InvestigationCategory %>
</div>
